.yt-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    cursor: pointer
}

.yt-checkbox+.yt-checkbox {
    margin-right: 15px
}

.yt-checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 11px;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    transform: translateY(-50%)
}

.yt-checkbox.checked {
    color: #409eff
}

.yt-checkbox.checked:before {
    content: "✔︎";
    color: #fff;
    border-color: #409eff;
    background-color: #409eff
}

.yt-checkbox.disabled {
    cursor: not-allowed
}

.yt-checkbox .yt-checkbox__input {
    display: none
}

.text-hidden[data-v-e93512fe] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.header_links_wrapper[data-v-e93512fe] {
    position: relative;
    width: 125px;
    height: 100%
}

.header_links_title[data-v-e93512fe] {
    display: flex;
    align-items: center;
    margin-left: 24px;
    padding: 0 10px 0 5px;
    height: 100%;
    cursor: pointer
}

.header_links[data-v-e93512fe] {
    display: none;
    position: absolute;
    z-index: 99;
    margin-left: 10px;
    background: #2b303b
}

.header_links_wrapper:hover .header_links[data-v-e93512fe] {
    display: block
}

.header_link[data-v-e93512fe]:hover {
    opacity: .6
}

.header_link[data-v-e93512fe] {
    display: block;
    padding: 8px 20px;
    color: #f4f4f4;
    white-space: nowrap
}

.header_filter[data-v-e93512fe] {
    position: relative;
    margin: 0 0 10px 10px;
    width: 75%
}

.header_filter input[data-v-e93512fe] {
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: #f4f4f4;
    background: #2b303b;
    border: 1px solid #525b6a
}

.header_filter i[data-v-e93512fe] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%)
}

.header_filter .suggest-wrapper[data-v-e93512fe] {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    color: #aaa;
    padding: 6px;
    cursor: pointer
}

.header_filter_selector[data-v-e93512fe] {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 911;
    width: 100%;
    max-height: 300px;
    background: #49535f;
    overflow-y: scroll
}

.header_filter_selector_checkbox[data-v-e93512fe] {
    padding: 5px 10px
}

.header_tips[data-v-e93512fe] {
    padding: 5px 10px;
    color: #79869b
}

.header_pane_footer[data-v-e93512fe] {
    display: flex;
    align-items: center;
    justify-content: center
}

.main_header[data-v-e93512fe] {
    color: #f4f4f4;
    background: #2b303b;
    width: 100%;
    padding-right: 10px
}

.main_header a[data-v-e93512fe] {
    cursor: pointer
}

.header_wrapper[data-v-e93512fe] {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 800px;
    height: 54px;
    background: #2b303b
}

.header_title[data-v-e93512fe] {
    color: #f4f4f4;
    cursor: pointer;
    font-size: 24px;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 600
}

.header_title_highlight[data-v-e93512fe] {
    margin-left: 4px;
    padding: 0 2px;
    color: #2b303b;
    background: #f99816;
    border-radius: 4px
}

.header_nav[data-v-e93512fe] {
    display: flex;
    align-items: center;
    padding: 0 10px 0 5px;
    height: 100%
}

.header_nav:hover .header_menu_pane[data-v-e93512fe] {
    display: block!important
}

.header_menu_ctrl[data-v-e93512fe] {
    display: flex;
    align-items: center;
    color: #f4f4f4
}

.header_menu_ctrl>[data-v-e93512fe] {
    display: flex;
    align-items: center
}

.header_menu_pane[data-v-e93512fe] {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 998;
    padding: 28px 20px 20px;
    height: 500px;
    background: #2b303b;
    overflow: scroll
}

.header_menu_pane[data-v-e93512fe]::-webkit-scrollbar {
    display: none
}

.header_menu_items[data-v-e93512fe] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 20px
}

.header_menu_item[data-v-e93512fe] {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 6px 10px;
    width: 25%;
    height: 36px;
    color: #f4f4f4
}

.header_menu_item img[data-v-e93512fe] {
    margin-right: 10px;
    width: 24px;
    height: 24px
}

.header_menu_item[data-v-e93512fe]:hover {
    opacity: .75
}

.header_shortcut[data-v-e93512fe] {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 640px
}

.header_shortcut_items[data-v-e93512fe] {
    display: flex;
    align-items: center;
    overflow: hidden;
    word-break: break-all
}

.header_shortcut_item[data-v-e93512fe] {
    display: flex;
    padding: 6px 10px;
    color: #f4f4f4;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap
}

.header_shortcut_item[data-v-e93512fe]:hover {
    opacity: .75
}

.header_shortcut_ctrl[data-v-e93512fe] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #f4f4f4;
    background: #2b303b;
    padding: 1px;
    margin-left: 10px;
    border: 1px dashed #727272
}

.header_shortcut_pane[data-v-e93512fe] {
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 899;
    padding: 20px;
    max-height: calc(100vh - 40px);
    background: #2b303b
}

.header_shortcut_checkbox[data-v-e93512fe] {
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 20%
}

.header_menu_mobile[data-v-e93512fe] {
    display: none
}

.checkboxes[data-v-e93512fe] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start
}

.checkboxes .checkbox[data-v-e93512fe] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 21%;
    height: 28px;
    color: #fff;
    cursor: pointer
}

.checkboxes .checkbox[data-v-e93512fe]:not(.disabled):hover {
    opacity: .8
}

.checkboxes .checkbox.checked[data-v-e93512fe] {
    color: #66b1ff
}

.checkboxes .checkbox.disabled[data-v-e93512fe] {
    opacity: .6;
    cursor: not-allowed
}

.checkboxes .checkbox .common-icon[data-v-e93512fe] {
    margin-right: 5px
}

.common-icon[data-v-e93512fe] {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: cover
}

.common-icon.icon-arrow-down[data-v-e93512fe] {
    background-image: url(../assets/other/488eb0b698f072ec37f9215ea6e69a14.svg)
}

.common-icon.icon-search[data-v-e93512fe] {
    background-image: url(../assets/other/cf9ed36c011f012514b30529fd53c008.svg)
}

.common-icon.icon-plus[data-v-e93512fe] {
    background-image: url(../assets/other/484d53c1e9ee6c30f91e60fa95b948a5.svg)
}

.common-icon.icon-menu[data-v-e93512fe] {
    width: 7.4666666667vw;
    height: 7.4666666667vw;
    background-image: url(../assets/other/f18fe01cfca12fa5dbbc2fc4ac33761f.svg)
}

.common-icon.icon-checkbox[data-v-e93512fe] {
    background-image: url(../assets/other/5e2849b6fe6b69c161c4019363d55368.svg)
}

.common-icon.icon-checkbox[data-v-e93512fe]:hover,.common-icon.icon-checked[data-v-e93512fe] {
    background-image: url(../assets/other/316de2cb6f0a9657b8410afc196562e7.svg)
}

@media screen and (max-width: 749px) {
    .main_header {
        padding:0 2.6666666667vw
    }

    .main_header .header_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 14.4vw
    }

    .main_header .header_title {
        font-size: 6.4vw!important
    }

    .main_header .header_title_highlight {
        margin-left: 1.0666666667vw;
        padding: 0 .5333333333vw;
        font-size: 6.4vw!important;
        border-radius: 1.0666666667vw
    }

    .main_header .header_links_wrapper,.main_header .header_nav,.main_header .header_shortcut {
        display: none
    }

    .main_header .header_menu_mobile {
        display: block
    }

    .main_header .header_menu_mobile .icon {
        width: 8vw;
        height: 8vw;
        font-size: 8.5333333333vw
    }

    .main_header .header_menu_mobile .mobile_menu {
        position: fixed;
        left: 0;
        top: 14.4vw;
        z-index: 99;
        padding: 2.6666666667vw;
        width: 100%;
        height: calc(100% - 14.4vw);
        background-color: #fff;
        overflow-y: scroll;
        transform-origin: top right;
        transform: scale(0);
        transition: .3s
    }

    .main_header .header_menu_mobile .mobile_menu.show {
        transform: scale(1)
    }

    .main_header .header_menu_mobile .mobile_menu .filter {
        margin-bottom: 20px
    }

    .main_header .header_menu_mobile .mobile_menu .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .main_header .header_menu_mobile .mobile_menu .item {
        margin: 0 0 3.2vw;
        padding: 2.6666666667vw;
        border: 1px solid #efefef;
        background: #fcfcfc;
        width: 48%;
        height: 21.3333333333vw;
        cursor: pointer;
        border-radius: 1.0666666667vw;
        transition: opacity .3s,border-color .3s
    }

    .main_header .header_menu_mobile .mobile_menu .item.hidden {
        display: none
    }

    .main_header .header_menu_mobile .mobile_menu .item:hover {
        opacity: .75
    }

    .main_header .header_menu_mobile .mobile_menu .item .item-title {
        display: flex;
        align-items: center;
        height: 8.5333333333vw;
        font-size: 4.2666666667vw
    }

    .main_header .header_menu_mobile .mobile_menu .item .item-desc {
        color: #999;
        font-size: 3.2vw
    }
}

.main_header .el-checkbox__label {
    color: #fff
}

.header_shortcut_ctrl {
    position: relative
}

.header_shortcut_ctrl #tooltip {
    position: absolute;
    z-index: 1;
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
    width: 240px;
    top: 100%;
    transform: translateY(14px);
    white-space: nowrap
}

.header_shortcut_ctrl #tooltip:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    border: 10px solid transparent;
    border-bottom: 6px solid #555
}

.header_shortcut_ctrl #tooltip .tooltip-btn {
    text-align: right;
    color: #409eff;
    opacity: .8;
    cursor: pointer
}

.header_wrapper.multipart .header_links_wrapper {
    width: auto
}

.header_wrapper.multipart .header_links_wrapper .header_links_title {
    margin-left: 10px;
    white-space: nowrap
}

.header_wrapper.multipart .header_nav {
    padding-left: 0
}

.header_wrapper.multipart .header_shortcut .header_shortcut_item {
    padding: 6px 20px
}
