.header {
	height: 40px;
	background-color: #2b303b;
	margin-bottom: 24px
}

.header .header-main {
	display: flex;
	align-items: center;
	height: 100%
}

.header a {
	color: #fff
}

.yt-switch {
	display: inline-block;
	font-size: 14px;
	cursor: pointer
}

.yt-switch .yt-switch__inner {
	display: flex;
	align-items: center
}

.yt-switch .yt-switch__inner .yt-switch__inactive-text {
	margin-right: 4px;
	color: #409eff
}

.yt-switch .yt-switch__inner .yt-switch__core {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	border: 2px solid #dcdfe6;
	background-color: #dcdfe6;
	border-radius: 10px;
	box-sizing: border-box;
	transition: .3s
}

.yt-switch .yt-switch__inner .yt-switch__core .yt-switch__slider {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fff;
	transition: .3s
}

.yt-switch .yt-switch__inner .yt-switch__active-text {
	margin-left: 4px;
	color: #9b9b9b
}

.yt-switch .yt-switch__inner.is-active .yt-switch__inactive-text {
	color: #9b9b9b
}

.yt-switch .yt-switch__inner.is-active .yt-switch__core {
	border-color: #409eff;
	background-color: #409eff
}

.yt-switch .yt-switch__inner.is-active .yt-switch__core .yt-switch__slider {
	left: 100%;
	transform: translateX(-100%)
}

.yt-switch .yt-switch__inner.is-active .yt-switch__active-text {
	color: #409eff
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #bbb
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #bbb
}

input::placeholder,
textarea::placeholder {
	color: #bbb
}

.yt-input {
	position: relative;
	font-size: 14px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	line-height: 40px
}

.yt-input.yt-input--medium {
	height: 36px;
	line-height: 36px
}

.yt-input.yt-input--small {
	height: 32px;
	font-size: 13px;
	line-height: 32px
}

.yt-input.yt-input--mini {
	height: 28px;
	font-size: 12px;
	line-height: 28px
}

.yt-input .yt-input__inner {
	position: relative;
	border: 1px solid #dcdfe6;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	background-color: inherit
}

.yt-input .yt-input__inner>input {
	flex-grow: 1;
	display: block;
	padding: 0 5px 0 15px;
	width: 100%;
	height: 100%;
	color: #606266;
	font-size: inherit;
	outline: unset;
	box-shadow: unset;
	background-color: inherit
}

.yt-input .yt-input__inner>input:disabled {
	background-color: #f5f7fa;
	border-color: #e4e7ed;
	color: #c0c4cc;
	cursor: not-allowed
}

.yt-input .yt-input__inner>input:not(:disabled):not(:focus):hover {
	border-color: #c0c4cc
}

.yt-input .yt-input__inner>input:focus {
	border-color: #409eff
}

.yt-input .yt-input__inner:hover i.yt-input__clear {
	display: flex
}

.yt-input .yt-input__inner i.yt-input__clear {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 100%;
	background: #fff;
	cursor: pointer
}

.yt-input .yt-input__inner i.yt-input__clear:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(/assets/other/2916c1fbae277dd938ac81f96f6ce42d.svg);
	background-size: cover
}

.yt-input.yt-input__with-prepend .yt-input__inner {
	border-radius: 0 4px 4px 0
}

.yt-input.yt-input__with-append .yt-input__inner {
	border-radius: 4px 0 0 4px
}

.yt-input.yt-input__with-prepend.yt-input__with-append .yt-input__inner {
	border-radius: 0
}

.yt-input .yt-input__prepend {
	border: 1px solid #dcdfe6;
	border-right: unset;
	border-radius: 4px 0 0 4px
}

.yt-input .yt-input__append,
.yt-input .yt-input__prepend {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	color: #909399;
	font-size: inherit;
	background-color: #f5f7fa
}

.yt-input .yt-input__append {
	border: 1px solid #dcdfe6;
	border-left: unset;
	border-radius: 0 4px 4px 0
}

.yt-input .yt-input__decrease,
.yt-input .yt-input__increase {
	color: #caced5;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}

.yt-input .yt-input__decrease:hover,
.yt-input .yt-input__increase:hover {
	color: #5e616d
}

.yt-textarea {
	position: relative;
	font-size: 14px;
	display: flex;
	align-items: center;
	width: 100%
}

.yt-textarea.yt-textarea--small {
	font-size: 13px
}

.yt-textarea.yt-textarea--mini {
	font-size: 12px
}

.yt-textarea .yt-textarea__inner {
	flex-grow: 1;
	display: block;
	padding: 5px 15px;
	border: 1px solid #dcdfe6;
	width: 100%;
	height: 100%;
	color: #606266;
	font-size: inherit;
	line-height: 1.5;
	outline: unset;
	box-shadow: unset;
	border-radius: 4px;
	background-color: #fff
}

.yt-textarea .yt-textarea__inner:hover {
	border-color: #c0c4cc
}

.yt-textarea .yt-textarea__inner:focus {
	border-color: #409eff
}

.yt-input__append>*,
.yt-input__prepend>* {
	display: flex;
	align-items: center;
	padding: 0 15px;
	border: unset !important;
	min-height: unset !important;
	height: 100% !important;
	box-sizing: border-box !important;
	background-color: inherit !important;
	border-radius: 4px
}

.yt-input__append .yt-select,
.yt-input__prepend .yt-select {
	padding: 0 10px !important
}

.yt-input__append .yt-select .yt-input__inner,
.yt-input__prepend .yt-select .yt-input__inner {
	padding: unset;
	border: unset;
	background-color: inherit
}

.yt-input__append .yt-select .yt-select__arrow,
.yt-input__prepend .yt-select .yt-select__arrow {
	background-color: inherit !important
}

.yt-button {
	display: inline-block;
	margin: 0;
	padding: 12px 20px;
	border: 1px solid #dcdfe6;
	min-height: 40px;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	color: #606266;
	-webkit-appearance: none;
	box-sizing: border-box;
	outline: none;
	transition: .1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 4px
}

.yt-button:disabled {
	opacity: .8;
	cursor: not-allowed
}

.yt-button+.yt-button {
	margin-left: 10px
}

.yt-button:not(:disabled):hover {
	color: #409eff;
	border-color: #c6e2ff
}

.yt-button.yt-button--primary {
	color: #409eff;
	background: #ecf5ff;
	border-color: #b3d8ff
}

.yt-button.yt-button--primary:not(:disabled):hover {
	background: #409eff;
	border-color: #409eff;
	color: #fff
}

.yt-button.yt-button--success {
	color: #67c23a;
	background: #f0f9eb;
	border-color: #c2e7b0
}

.yt-button.yt-button--success:not(:disabled):hover {
	color: #fff;
	background-color: #67c23a;
	border-color: #67c23a
}

.yt-button.yt-button--info {
	color: #909399;
	background: #f4f4f5;
	border-color: #d3d4d6
}

.yt-button.yt-button--info:not(:disabled):hover {
	color: #fff;
	background-color: #909399;
	border-color: #909399
}

.yt-button.yt-button--warning {
	color: #e6a23c;
	background: #fdf6ec;
	border-color: #f5dab1
}

.yt-button.yt-button--warning:not(:disabled):hover {
	color: #fff;
	background-color: #e6a23c;
	border-color: #e6a23c
}

.yt-button.yt-button--danger {
	color: #f56c6c;
	background: #fef0f0;
	border-color: #fbc4c4
}

.yt-button.yt-button--danger:not(:disabled):hover {
	color: #fff;
	background-color: #f56c6c;
	border-color: #f56c6c
}

.yt-button.yt-button--text {
	border-color: transparent;
	color: #409eff;
	background: transparent;
	padding-left: 0;
	padding-right: 0
}

.yt-button.yt-button--text:hover {
	color: #66b1ff;
	border-color: transparent;
	background-color: transparent
}

.yt-button.yt-button--medium {
	min-height: 36px;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 4px
}

.yt-button.yt-button--small {
	min-height: 32px;
	padding: 9px 15px;
	font-size: 12px;
	border-radius: 3px
}

.yt-button.yt-button--mini {
	min-height: 28px;
	padding: 7px 15px;
	font-size: 12px;
	border-radius: 3px
}

.yt-input__append .yt-button,
.yt-input__prepend .yt-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	border: unset;
	height: inherit;
	color: inherit;
	font-size: inherit;
	background-color: inherit
}

body.lock-scroll {
	overflow-y: hidden
}

.dialog_wrapper {
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, .5)
}

.dialog_wrapper .dialog_content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
	background-color: #fff;
	border-radius: 4px
}

.dialog_wrapper .dialog_content .dialog_header {
	display: flex;
	align-items: center;
	position: relative;
	color: #333;
	border-radius: 4px 4px 0 0;
	padding: 20px 20px 10px
}

.dialog_wrapper .dialog_content .dialog_header .close-btn {
	position: absolute;
	font-size: 16px;
	top: 10px;
	right: 20px;
	padding: 4px;
	cursor: pointer
}

.dialog_wrapper .dialog_content .dialog_body {
	width: 360px;
	color: #666;
	border-radius: 0 0 4px 4px;
	padding: 20px
}

@media screen and (max-width:749px) {

	.dialog_wrapper .dialog_content .dialog_body,
	.dialog_wrapper .dialog_content .dialog_header {
		padding: 10px
	}
}

.contact-dialog .contact-item {
	display: flex;
	align-items: center;
	margin-bottom: 30px
}

.contact-dialog .contact-item .item-label {
	width: 120px;
	text-align: right;
	padding-right: 12px
}

.contact-dialog .contact-item .item-content {
	flex: 1
}

@media screen and (max-width:500px) {
	.item-label {
		width: 90px !important
	}
}

#footer-wrapper {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #2b303b;
	color: #909090
}

#footer-wrapper .link {
	font-size: 12px;
	color: #909090
}

#footer-wrapper .outside .wrapper {
	padding: 12px 12px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap
}

#footer-wrapper .outside .wrapper .link,
#footer-wrapper .outside .wrapper .title {
	margin: 0 10px 10px 0;
	color: #909090
}

#footer-wrapper .main_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px
}

@media screen and (max-width:500px) {
	#footer-wrapper {
		font-size: 12px !important
	}

	#footer-wrapper .wrapper {
		padding: 10px 10px 0 !important
	}

	#footer-wrapper .wrapper .link {
		margin-bottom: 8px !important
	}

	#footer-wrapper .main_footer {
		padding-bottom: 10px !important
	}

	#footer-wrapper .title {
		margin-bottom: 8px !important
	}
}

#page .introduce h2 {
	padding: 15px 0 0
}

#page .introduce p {
	margin: 10px 0 5px;
	line-height: 1.2
}

#page .introduce img {
	max-width: 100%;
	height: auto
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

#page,
body,
html {
	height: 100%
}

body {
	overflow-y: overlay;
	scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .05);
	scrollbar-width: thin;
	-webkit-overflow-scrolling: touch
}

body::-webkit-scrollbar {
	width: 10px;
	height: 12px
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, .2)
}

body::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .05)
}

html {
	scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .05);
	scrollbar-width: thin;
	-webkit-overflow-scrolling: touch
}

a,
body,
input,
textarea {
	color: #333;
	font-size: 14px;
	letter-spacing: .5px;
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Oxygen, Helvetica, Arial
}

a,
button,
input,
select {
	outline: unset;
	border: unset
}

a {
	text-decoration: unset
}

button {
	background: unset;
	cursor: pointer
}

input[type=number].simple::-webkit-inner-spin-button {
	display: none
}

.p_relative {
	position: relative
}

.flex_align_center {
	display: flex;
	align-items: center
}

.page_wrapper {
	min-height: 100%;
	position: relative;
	padding-bottom: 70px
}

.page_wrapper #footer-wrapper {
	position: absolute
}

.page_main {
	margin-top: 60px;
	min-height: calc(100vh - 60px)
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px
}

.row {
	display: flex;
	align-items: center;
	margin: 10px 0
}

.row>* {
	margin-right: 10px
}

.row>:last-child {
	margin-right: unset
}

.el-color-dropdown__main-wrapper {
	display: flex;
	justify-content: space-between
}

.a-p {
	max-width: 800px;
	margin: auto
}

.a-p-l {
	max-width: 1200px;
	margin: auto
}

.hblock-xxs .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-xxs>* {
	margin-right: 4px
}

.hblock-xxs>:last-child {
	margin-right: 0
}

.vblock-xxs .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-xxs>* {
	margin-bottom: 4px
}

.vblock-xxs>:last-child {
	margin-bottom: 0
}

.hblock-xs .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-xs>* {
	margin-right: 8px
}

.hblock-xs>:last-child {
	margin-right: 0
}

.vblock-xs .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-xs>* {
	margin-bottom: 8px
}

.vblock-xs>:last-child {
	margin-bottom: 0
}

.hblock-s .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-s>* {
	margin-right: 16px
}

.hblock-s>:last-child {
	margin-right: 0
}

.vblock-s .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-s>* {
	margin-bottom: 16px
}

.vblock-s>:last-child {
	margin-bottom: 0
}

.hblock-m .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-m>* {
	margin-right: 24px
}

.hblock-m>:last-child {
	margin-right: 0
}

.vblock-m .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-m>* {
	margin-bottom: 24px
}

.vblock-m>:last-child {
	margin-bottom: 0
}

.hblock-l .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-l>* {
	margin-right: 32px
}

.hblock-l>:last-child {
	margin-right: 0
}

.vblock-l .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-l>* {
	margin-bottom: 32px
}

.vblock-l>:last-child {
	margin-bottom: 0
}

.hblock-xl .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-xl>* {
	margin-right: 40px
}

.hblock-xl>:last-child {
	margin-right: 0
}

.vblock-xl .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-xl>* {
	margin-bottom: 40px
}

.vblock-xl>:last-child {
	margin-bottom: 0
}

.hblock-xxl .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.hblock-xxl>* {
	margin-right: 48px
}

.hblock-xxl>:last-child {
	margin-right: 0
}

.vblock-xxl .block-title {
	font-size: 1.3em;
	font-weight: 700
}

.vblock-xxl>* {
	margin-bottom: 48px
}

.vblock-xxl>:last-child {
	margin-bottom: 0
}

.hblock {
	display: flex;
	align-items: center
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.no-body-padding .el-dialog__body {
	padding: 0
}

.ace_print-margin {
	display: none !important
}

.main_body {
	margin-top: 24px;
	padding: 0 10px 50px;
	width: 100%
}

@media screen and (max-width:749px) {
	.page_wrapper * {
		font-size: 12px
	}

	.page_wrapper .main_body {
		margin: 0;
		padding: 5.3333333333vw
	}

	.page_wrapper h1 {
		font-size: 5.3333333333vw
	}

	.page_wrapper .el-button {
		height: 8.5333333333vw
	}

	.page_wrapper .el-input__inner {
		height: 8.5333333333vw;
		line-height: 8.5333333333vw
	}

	.page_wrapper .el-table .cell {
		display: flex;
		align-items: center;
		font-size: 3.7333333333vw;
		height: 6.4vw;
		line-height: 6.4vw
	}

	.option {
		font-size: 12px;
		height: 7.4666666667vw;
		line-height: 7.4666666667vw
	}
}

.lsb {
	color: #606266 !important
}

.icon {
	flex-shrink: 0;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background-size: cover
}

.icon.small {
	width: 24px;
	height: 24px
}